CalculatorTest/calculator_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/calculator/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Add">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="1" minOccurs="1" name="intA" type="xsd:int"/>
          	<xsd:element maxOccurs="1" minOccurs="1" name="intB" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="AddResult" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Subtract">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="intA" type="xsd:int">
      			</xsd:element>
      			<xsd:element maxOccurs="1" minOccurs="1" name="intB" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SubtractResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="SubtractResult" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Divide">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="intA" type="xsd:int">
      			</xsd:element>
      			<xsd:element maxOccurs="1" minOccurs="1" name="intB" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DivideResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="DivideResult" type="xsd:int">
      			</xsd:element>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Multiply">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="intA" type="xsd:int">
      			</xsd:element>
      			<xsd:element maxOccurs="1" minOccurs="1" name="intB" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="MultiplyResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="MultiplyResult" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>